#maincard-wrapper {
  display: flex;
  flex-direction: column;
}

.maincard {
  border: 2px solid $gradient2;
  width: 70%;
  margin: 0 0 40px 0;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.2s;
  }

  svg {
    margin: 0 20px;
    font-size: 80px;
    color: $cardcolor;
  }
}

.maincard-text {
  flex: 1;
}

#card1, #card3 {
  border-left: none;
  text-align: right;
  border-radius: 0 $border $border 0;
}
#card2, #card4 {
  flex-direction: row-reverse;
  border-right: none;
  text-align: left;
  border-radius: $border 0 0 $border;
  align-self: end;
}

#edact-card {
  align-self: center;
  width: 200px;
  margin-bottom: 20px;
}

.gif {
  margin: 0 auto 40px auto;
  width: 800px;
  border-radius: $border;
  box-shadow: 0 0 8px $accentcolor2;
}