@import './variables';
@import './header';
@import './team';
@import './navbar';
@import './maincard';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $maincolor;
  text-align: center;
}

a {
  color: inherit;
  &:hover {
    color: $accentcolor
  }
  text-decoration: none;
}

button {
  border-radius: $border;
  font-family: inherit;
  font-size: 30px;
  border: none;
  margin-top: 30px;
  padding: 10px 25px;
  background-color: $accentcolor2;
  color: white;
  border: 5px solid $accentcolor2;
  transition: all 0.2s;
  &:hover {
    background-image: radial-gradient(circle, darken($accentcolor2, 10%), $accentcolor2);
    transition: all 0.2s;
  }
}

#root {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, $gradient2 25%, $gradient1 100%);
}

#app {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(200,200,200,0), $gradient3);
}

