#team-wrapper {
  width: fit-content;
  margin: auto;
}

#team {
    width: fit-content;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member-wrapper {
  position: relative;
  background: linear-gradient(0deg, $cardcolor 20%, $cardcolordark 100%);
  color: white;
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0 20px 20px 0;
  padding: 10px;
  border-radius: $border;
  img {
    margin-bottom: 10px;
    width: 100%;
    align-self: center;
    border-radius: $border $border 0 0;
    
  }
  &:hover {
    box-shadow: 0 0 8px $gradient2;
  }

}

.member {
  a {
    color: $accentcolor;
    &:hover {
      color: white;
    }
  }
}

@media only screen and (min-width: 800px) {
  #team {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .member-wrapper {
    border-radius: $border $border 0 0;
    margin: 0 20px;
  }
}